.copyright {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
  color: $copyright-item-color;

  padding: 21px 0 16px 4px;
  margin: 0 auto;
  background-color: $copyright-bg-color;
}
