<section class="about">
    <div class="container about__container">
            <h2 class="section-title about__title">Our guides explain countries and cultures.</h2>
            <p class="about__descr about__descr--top">Are you curious about the world around you? Our guides are for smart global citizens, world travelers and engaged residents who want to gain a deeper understanding of the cultures and societies they care about.</p>
            <p class="about__descr">Available as ebooks here and on Amazon.</p>
    </div>
</section>