<section class="best-sellers">
    <div class="container best-sellers__container">
        <h2 class="section-title best-sellers__title">Our best sellers</h2>
        <ul class="best-sellers__list">
            <li class="best-sellers__item sellers-card">
                <img src="../img/sellers-img-1.png" alt="French culture card" class="sellers-card__img sellers-card__img--short">
                <div class="sellers-card__content sellers-card__content--short">
                    <h3 class="sellers-card__title sellers-card__title--short">Thalby Guide to French Culture and Heritage</h3>
                    <span class="sellers-card__price">USD 6.99</span>
                    <span class=" btn-link sellers-card__link">Add to cart</span>
                </div>
            </li>
            <li class="best-sellers__item sellers-card">
                <img src="../img/sellers-woman-1.png" alt="French society card" class="sellers-card__img">
                <div class="sellers-card__content">
                    <h3 class="sellers-card__title">Thalby Guide to French People and Society</h3>
                    <span class="sellers-card__price">USD 6.99</span>
                    <span class=" btn-link sellers-card__link">Add to cart</span>
                </div>
            </li>
            <li class="best-sellers__item sellers-card">
                <img src="../img/sellers-woman-2.png" alt="German culture card" class="sellers-card__img">
                <div class="sellers-card__content">
                    <h3 class="sellers-card__title">Thalby Guide to German Culture and Heritage</h3>
                    <span class="sellers-card__price">USD 6.99</span>
                    <span class=" btn-link sellers-card__link">Add to cart</span>
                </div>
            </li>
         
        </ul>
    </div>
</section>