<section class="contacts">
    <div class="container">
        <h2 class="section-title section-title--center contacts__title">Keep in touch</h2>
        <h3 class="contacts__subtitle">Get our travel advice, global views and travel freebies in your inbox</h3>
        <form action="submit" class="contacts__form contacts-form">
            <input type="text" class="contacts-form__item contacts-form__item--first-name" placeholder="First Name">
            <input type="text" class="contacts-form__item contacts-form__item--last-name" placeholder="Last Name">
            <input type="email" class="contacts-form__item contacts-form__item--email" placeholder="Email">
        </form>
        <button class="btn contacts__button">Subscribe</button>

    </div>
</section>