<section class="culture-guide guide">
    <div class="container">
        <div class="guide__container guide__container--flex-reverse">
            <img src="../img/guide-culture.png" alt="Culture guide poster" class="guide__img">
            <div class="guide__content guide__content--align-right guide__content--padding-top">
            <h2 class="section-title guide__title">Culture and Heritage</h2>    
            <p class="guide__descr guide__descr--margin-small">As well as covering heritage and tradition, our guides to culture introduce you to the designers, artists and chefs creating at the forefront of today's culture.</p>
            <button class="btn-link guide__link guide__link--align-right">Shop Culture Guides</button>
            </div>
        </div>
    </div>
</section>