<section class="features">
    <div class="container">
        <h2 class="section-title section-title--center features__title">Some of the features that make Thalby guides unique</h2>
        <ul class="features__list">
            <li class="features__item features__item--light-green">Written by locals</li>
            <li class="features__item features__item--green">Packed with insight</li>
            <li class="features__item features__item--dark-green">Interviews with diverse voices</li>
            <li class="features__item features__item--brown">Key facts and etiquette tips</li>
            <li class="features__item features__item--red">A concise 1-hour read</li>
            <li class="features__item features__item--violet">Instant</br> digital access</li>
        </ul>
    </div>
</section>