<header class="header">
  <div class="container">
    <div class="header__content">
      <img src="../img/burger-icon.png" alt="menu icon" class="header__burger">

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Collections</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Try a Free Guide</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Stories</a></li>
          </ul>
        </nav>
        <ul class="services__list">
          <li class="services__item"><a href="#" class="services__link"><img src="../img/pinterest.png" alt="pinterest link" class="services__icon"></a></li>
          <li class="services__item"><img src="../img/search-icon.png" alt="search" class="services__icon"></li>
          <li class="services__item"><img src="../img/busket-icon.png" alt="basket" class="services__icon"></li>
        </ul>
      <img src="../img/header-logo.png" alt="Thalby logo" class="header__logo">
    </div>
  </div>
</header>
