<section class="society-guide guide">
    <div class="container">
        <div class="guide__container">
            <img src="../img/guide-society__img.png" alt="Society guide poster" class="guide__img">
            <div class="guide__content">
            <h2 class="section-title guide__title">People and Society</h2>    
            <p class="guide__descr">Our guides to society deliver all the social insight you need, helping you understand how people live, love and play today and why communities are the way they are.</p>
            <button class="btn-link guide__link">Shop Society Guides</button>
            </div>
        </div>
    </div>
</section>